.MainpageAllContainer {
    position: relative;
}


.MainpageContainer {
    width: 95%;
    margin: auto;
}

.pageNavigateList {
    display: flex;
    /* justify-content: space-between; */
    padding: 0;
    margin-left: -60px;
    margin-top: -20px;
}

.MainpageTasks,
.CreateTask {
    color: white;
    margin-left: 30px;
}

.MainpageTasks:hover,
.CreateTask:hover {
    border-bottom: 2px solid white;

    cursor: pointer;
}

.logout {
    /* padding: 7px 15px; */
    margin-top: -10px;

    /* border: 2px solid white; */

    /* border-radius: 10px; */

    margin-left: 40px;
}

.logout:hover {
    /* transition: 0.2s; */

    /* background-color: red; */

    /* border: 2px solid red; */

    /* color: black; */

    cursor: pointer;
}

.MainpageContainer {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.MainpageNewsBlock {
    width: 80%;
    height: 600px;

    display: inline-block;

    border: 1px solid darkgray;

    position: absolute;

    top: 170px;

    background-color: white;
}

.MainpageNewsTitelBlock {
    width: 90%;

    margin: auto;

    border-bottom: 2px solid darkgray;

    text-align: center;

    /* padding: 13.5px 0 ; */
    /* margin: 0; */
}

.MainpageNewsTitelBlock h1 {
    font-family: 'Roboto', sans-serif;

    padding: 13.5px 0;
}

.MainpageNewsInfoBlock {
    width: 90%;
    margin: auto;

    text-align: center;
}

.MainpageNewsInfoBlock h1 {
    font-family: 'Roboto', sans-serif;

    padding-top: 90px;
}